#osebadge-bottom-right
{
	position: fixed;
	right: 0px; 
	bottom: 0px;
	background: url('../images/badge.png') no-repeat center center;
	width: 158px;
	height: 78px;
}
#osebadge-bottom-right #osebadge-content
{
	text-shadow: black 0.1em 0.1em 0.2em;	
}

#osebadge-bottom-right #osebadge-content,
#osebadge-bottom-right #osebadge-footer
{
	margin: 10px 5px 10px 10px;
	font-size: 10px;
	color: #FFFFFF;
}
#osebadge-bottom-right #osebadge-footer
{
	font-weight: bold;
}
#osebadge-bottom-right #osebadge-footer a
{
	text-decoration: none; 
	color: #FFF; 
	text-shadow: black 0.1em 0.1em 0.2em;
}
#osebadge-bottom-right #osebadge-content .osestatus
{
	font-size: 18px;
	font-weight: bold; 
}
